USE [master]
GO
/****** Object:  Database [DBGestionProyectos]    Script Date: 17/5/2021 20:04:24 ******/
CREATE DATABASE [DBGestionProyectos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBGestionProyectos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DBGestionProyectos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBGestionProyectos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DBGestionProyectos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBGestionProyectos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBGestionProyectos]
GO
USE [DBGestionProyectos]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[DniCuit] [bigint] NOT NULL,
	[RazonSocial] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[TelefonoContacto] [bigint] NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Dni] [bigint] NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](50) NOT NULL,
	[RolID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Empleados] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpleadosPerfiles]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadosPerfiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[PerfilID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmpleadosPerfiles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscalaAumentoxAntiguedades]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalaAumentoxAntiguedades](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Limiteanios] [int] NOT NULL,
	[PorcentajeAumento] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.EscalaAumentoxAntiguedades] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscalaAumentoxHoras]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalaAumentoxHoras](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LimiteHoras] [decimal](18, 2) NOT NULL,
	[PorcentajeAumento] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.EscalaAumentoxHoras] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscalaAumentoxPerfiles]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalaAumentoxPerfiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LimitecantPerfiles] [int] NOT NULL,
	[PorcentajeAumento] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.EscalaAumentoxPerfiles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscalaHorasOB]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalaHorasOB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PorcentajeAumento] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.EscalaHorasOB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorasTrabajadas]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorasTrabajadas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProyectoID] [int] NOT NULL,
	[TareaID] [int] NOT NULL,
	[CantHoras] [decimal](18, 2) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[HorasTrabajadasEstadoID] [int] NOT NULL,
	[EsOB] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.HorasTrabajadas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorasTrabajadasEstados]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorasTrabajadasEstados](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.HorasTrabajadasEstados] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[ValorHorario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Perfiles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProyectoEstados]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProyectoEstados](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.ProyectoEstados] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ProyectoEstadoID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Proyectos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 17/5/2021 20:04:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProyectoID] [int] NOT NULL,
	[EmpleadoPerfilID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[HorasEstimadas] [decimal](18, 2) NOT NULL,
	[HorasOB] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Tareas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([ID], [Nombre], [Apellido], [Dni], [FechaIngreso], [Usuario], [Clave], [RolID]) VALUES (1, N'Administrador', N'Administrador', 1, CAST(N'2021-01-01T00:00:00.000' AS DateTime), N'administrador', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[EscalaAumentoxAntiguedades] ON 

INSERT [dbo].[EscalaAumentoxAntiguedades] ([ID], [Limiteanios], [PorcentajeAumento]) VALUES (1, 1, CAST(0.50 AS Decimal(18, 2)))
INSERT [dbo].[EscalaAumentoxAntiguedades] ([ID], [Limiteanios], [PorcentajeAumento]) VALUES (2, 2, CAST(0.70 AS Decimal(18, 2)))
INSERT [dbo].[EscalaAumentoxAntiguedades] ([ID], [Limiteanios], [PorcentajeAumento]) VALUES (3, 3, CAST(0.80 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[EscalaAumentoxAntiguedades] OFF
GO
SET IDENTITY_INSERT [dbo].[EscalaAumentoxHoras] ON 

INSERT [dbo].[EscalaAumentoxHoras] ([ID], [LimiteHoras], [PorcentajeAumento]) VALUES (1, CAST(100.00 AS Decimal(18, 2)), CAST(0.50 AS Decimal(18, 2)))
INSERT [dbo].[EscalaAumentoxHoras] ([ID], [LimiteHoras], [PorcentajeAumento]) VALUES (2, CAST(120.00 AS Decimal(18, 2)), CAST(0.60 AS Decimal(18, 2)))
INSERT [dbo].[EscalaAumentoxHoras] ([ID], [LimiteHoras], [PorcentajeAumento]) VALUES (3, CAST(140.00 AS Decimal(18, 2)), CAST(0.70 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[EscalaAumentoxHoras] OFF
GO
SET IDENTITY_INSERT [dbo].[EscalaAumentoxPerfiles] ON 

INSERT [dbo].[EscalaAumentoxPerfiles] ([ID], [LimitecantPerfiles], [PorcentajeAumento]) VALUES (1, 2, CAST(0.20 AS Decimal(18, 2)))
INSERT [dbo].[EscalaAumentoxPerfiles] ([ID], [LimitecantPerfiles], [PorcentajeAumento]) VALUES (2, 3, CAST(0.50 AS Decimal(18, 2)))
INSERT [dbo].[EscalaAumentoxPerfiles] ([ID], [LimitecantPerfiles], [PorcentajeAumento]) VALUES (3, 4, CAST(0.80 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[EscalaAumentoxPerfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[EscalaHorasOB] ON 

INSERT [dbo].[EscalaHorasOB] ([ID], [PorcentajeAumento]) VALUES (1, CAST(50.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[EscalaHorasOB] OFF
GO
SET IDENTITY_INSERT [dbo].[HorasTrabajadasEstados] ON 

INSERT [dbo].[HorasTrabajadasEstados] ([ID], [Descripcion]) VALUES (1, N'Pagada')
INSERT [dbo].[HorasTrabajadasEstados] ([ID], [Descripcion]) VALUES (2, N'Adeudada')
SET IDENTITY_INSERT [dbo].[HorasTrabajadasEstados] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfiles] ON 

INSERT [dbo].[Perfiles] ([ID], [Descripcion], [ValorHorario]) VALUES (1, N'Analista', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[Perfiles] ([ID], [Descripcion], [ValorHorario]) VALUES (2, N'Desarrollador', CAST(150.00 AS Decimal(18, 2)))
INSERT [dbo].[Perfiles] ([ID], [Descripcion], [ValorHorario]) VALUES (3, N'Tester', CAST(200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Perfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[ProyectoEstados] ON 

INSERT [dbo].[ProyectoEstados] ([ID], [Descripcion]) VALUES (3, N'Cancelado')
INSERT [dbo].[ProyectoEstados] ([ID], [Descripcion]) VALUES (4, N'Finalizado')
INSERT [dbo].[ProyectoEstados] ([ID], [Descripcion]) VALUES (2, N'Pausado')
SET IDENTITY_INSERT [dbo].[ProyectoEstados] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([ID], [Descripcion]) VALUES (2, N'Supervisor')
INSERT [dbo].[Roles] ([ID], [Descripcion]) VALUES (3, N'Empleado')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
/****** Object:  Index [IX_DniCuit]    Script Date: 17/5/2021 20:04:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DniCuit] ON [dbo].[Clientes]
(
	[DniCuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dni]    Script Date: 17/5/2021 20:04:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Dni] ON [dbo].[Empleados]
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolID]    Script Date: 17/5/2021 20:04:24 ******/
CREATE NONCLUSTERED INDEX [IX_RolID] ON [dbo].[Empleados]
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpleadoID_PerfilID]    Script Date: 17/5/2021 20:04:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmpleadoID_PerfilID] ON [dbo].[EmpleadosPerfiles]
(
	[EmpleadoID] ASC,
	[PerfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HorasTrabajadasEstadoID]    Script Date: 17/5/2021 20:04:24 ******/
CREATE NONCLUSTERED INDEX [IX_HorasTrabajadasEstadoID] ON [dbo].[HorasTrabajadas]
(
	[HorasTrabajadasEstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TareaID]    Script Date: 17/5/2021 20:04:24 ******/
CREATE NONCLUSTERED INDEX [IX_TareaID] ON [dbo].[HorasTrabajadas]
(
	[TareaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Descripcion]    Script Date: 17/5/2021 20:04:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Descripcion] ON [dbo].[Perfiles]
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Descripcion]    Script Date: 17/5/2021 20:04:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Descripcion] ON [dbo].[ProyectoEstados]
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClienteID_Nombre]    Script Date: 17/5/2021 20:04:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClienteID_Nombre] ON [dbo].[Proyectos]
(
	[ClienteID] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProyectoEstadoID]    Script Date: 17/5/2021 20:04:24 ******/
CREATE NONCLUSTERED INDEX [IX_ProyectoEstadoID] ON [dbo].[Proyectos]
(
	[ProyectoEstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpleadoPerfilID]    Script Date: 17/5/2021 20:04:24 ******/
CREATE NONCLUSTERED INDEX [IX_EmpleadoPerfilID] ON [dbo].[Tareas]
(
	[EmpleadoPerfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProyectoID]    Script Date: 17/5/2021 20:04:24 ******/
CREATE NONCLUSTERED INDEX [IX_ProyectoID] ON [dbo].[Tareas]
(
	[ProyectoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((0)) FOR [RolID]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Empleados_dbo.Roles_RolID] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_dbo.Empleados_dbo.Roles_RolID]
GO
ALTER TABLE [dbo].[EmpleadosPerfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpleadosPerfiles_dbo.Empleados_EmpleadoID] FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmpleadosPerfiles] CHECK CONSTRAINT [FK_dbo.EmpleadosPerfiles_dbo.Empleados_EmpleadoID]
GO
ALTER TABLE [dbo].[EmpleadosPerfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmpleadosPerfiles_dbo.Perfiles_PerfilID] FOREIGN KEY([PerfilID])
REFERENCES [dbo].[Perfiles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmpleadosPerfiles] CHECK CONSTRAINT [FK_dbo.EmpleadosPerfiles_dbo.Perfiles_PerfilID]
GO
ALTER TABLE [dbo].[HorasTrabajadas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HorasTrabajadas_dbo.HorasTrabajadasEstados_HorasTrabajadasEstadoID] FOREIGN KEY([HorasTrabajadasEstadoID])
REFERENCES [dbo].[HorasTrabajadasEstados] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorasTrabajadas] CHECK CONSTRAINT [FK_dbo.HorasTrabajadas_dbo.HorasTrabajadasEstados_HorasTrabajadasEstadoID]
GO
ALTER TABLE [dbo].[HorasTrabajadas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HorasTrabajadas_dbo.Tareas_TareaID] FOREIGN KEY([TareaID])
REFERENCES [dbo].[Tareas] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorasTrabajadas] CHECK CONSTRAINT [FK_dbo.HorasTrabajadas_dbo.Tareas_TareaID]
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proyectos_dbo.Clientes_ClienteID] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_dbo.Proyectos_dbo.Clientes_ClienteID]
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proyectos_dbo.ProyectoEstados_ProyectoEstadoID] FOREIGN KEY([ProyectoEstadoID])
REFERENCES [dbo].[ProyectoEstados] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_dbo.Proyectos_dbo.ProyectoEstados_ProyectoEstadoID]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tareas_dbo.EmpleadosPerfiles_EmpleadoPerfilID] FOREIGN KEY([EmpleadoPerfilID])
REFERENCES [dbo].[EmpleadosPerfiles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_dbo.Tareas_dbo.EmpleadosPerfiles_EmpleadoPerfilID]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tareas_dbo.Proyectos_ProyectoID] FOREIGN KEY([ProyectoID])
REFERENCES [dbo].[Proyectos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_dbo.Tareas_dbo.Proyectos_ProyectoID]
GO
USE [master]
GO
